@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family:'Times New Roman', Times, serif;
  color:darkslategray
}
h1, h2, h3, h4, h5, h5{
  font-family:'Times New Roman', Times, serif
}
.primary{
  background: transparent;
  color: #FFFFFf;
  border-color: #9b07079f;
  background-color: #9b07079f;
  border-radius: 3px;
  padding: 10px 30px;
}
.primary:hover{
  background: #ffffff;
  color: black;
  border-color: #9b07079f;

}
.secondary{
  background: transparent;
  color: #9b07079f;
  border-color: #9b07079f;
  border-radius: 3px;
  padding: 10px 30px;
}
.secondary:hover{
  background: black;
  color: white;
  border-color: #9b07079f;
}
